<% layout('layouts/boilerplate') -%>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error <%= statusCode %></h4>
            <p><%= message %></p>
            <hr>
            <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0">Please try again or go back to listings.</p>
                <a href="/listings" class="btn btn-outline-dark">Back to Listings</a>
            </div>
        </div>
    </div>
</div>
