<footer> 
    <div class="f-info">
        <div class="f-info-social">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <div class="f-info-social">

        </div>
        <div  class="f-info-brand">
            &copy; SlelctHome pvt ltd
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy

            </a>
            <a href="/terms"> Term & Condition </a>
        </div>
    </div>
</footer>